{{- if .Values.webapp.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-webapp
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      name: http
  selector:
    app: {{ .Release.Name }}-webapp
{{- end }}
